*	{ padding: 0; margin: 0; }
#container 	{ width: 900px; margin: auto; }
#main 		{ height: 70px; }
#main img 	{ height: 70px; float: left; }
#main h1 	{ text-align: center; font-size: 35px; }
nav 		{ width: 100%; margin: 0px auto; text-align: center; height: 28px; }
nav ul 		{ display: inline; list-style: none; }
nav ul li 	{ display: inline; padding: 0px 10px; }
nav ul li a	{ text-decoration: none; line-height: 28px; padding: 0px 10px; display: inline-block; }
#errorMessage { color: red; text-align: center; }
#blogs 		{ width: 800px; margin: auto; }
#blogs h3,
#blogs p	{ margin: 5px 0; }
#blogs p 	{ margin-left: 4px; }
#blogs hr	{ width: 85%; }

/* this is complete trash, but it works */
form *						{ margin: auto; }
form div					{ position: relative; width: 800px; height: 130px; }
form input[type='text']		{ display: inline; position: absolute; top: 0; width: 220px; }
form textarea 				{ display: inline; position: absolute; top: 0; right: 0; }
form input[type='submit']
{
	display: block;
	margin: 0;
	margin-left: 750px;
	width: 100px;
	height: 50px;
	border: solid blue 2px;
	background: #eee;
}
