*	{ padding: 0; margin: 0; }
#container 	{ width: 900px; margin: auto; }
#main 		{ height: 70px; }
#main img 	{ height: 70px; float: left; }
#main h1 	{ text-align: center; font-size: 35px; }
nav 		{ width: 100%; margin: 0px auto; text-align: center; height: 28px; }
nav ul 		{ display: inline; list-style: none; }
nav ul li 	{ display: inline; padding: 0px 10px; }
nav ul li a	{ text-decoration: none; line-height: 28px; padding: 0px 10px; display: inline-block; }
#errorMessage { color: red; text-align: center; }
#blogs 		{ width: 800px; margin: auto; }
#blogs h3	{ display: inline; padding-right: 7px; }
#blogs h3,
#blogs p	{ margin: 5px 0; }
#blogs p 	{ margin-left: 4px; }
#blogs hr	{ width: 85%; }

/* this is complete trash, but it works */
form label			{ display: block; text-align: center; }
input[type='text']	{ display: block; margin: auto; }
textarea 			{ display: block; margin: auto; }
#submits			{ display: flex; justify-content: space-between; width: 550px; margin: auto; }
input[type='submit']
{
	display: inline;
	width: 100px;
	height: 50px;
	border: solid darkgray 2px;
	background: #eee;
}
