#container 			{ width: 900px; margin: auto; }
#main 				{ height: 70px; }
#main img 			{ height: 70px; float: left; }
#main h1 			{ text-align: center; }
nav 				{ width: 100%; margin: 0px auto; text-align: center; height: 28px; }
nav ul 				{ display: inline; list-style: none; }
nav ul li 			{ display: inline; padding: 0px 10px; }
nav ul li a 		{ text-decoration: none; line-height: 28px; padding: 0px 10px; display: inline-block; }
#blogs 				{ width: 800px; margin: auto; }
#blogs h3, #blogs p { margin: 5px 0; }
#blogs p 			{ margin-left: 4px; }
#blogs hr			{ width: 85%; }
